[Unit]
Description=Quick Inventory (daily JSON snapshot)
Documentation=https://github.com/dekiiikun/Quick_Inventory
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=LANG=C
# ── keamanan: file hasil tidak world-readable
UMask=0027
# ── bikin folder log dg permission ketat
ExecStartPre=/usr/bin/install -d -m 0750 -o root -g root /var/log/quick_inventory
ExecStart=/usr/local/sbin/quick_inventory --json --days 20 --sections system,services,security,ports --out /var/log/quick_inventory/%H-%Y%m%dT%H%M%S.json
User=root
Group=root
